.wrapper {
  margin: 0 auto;
  width: 80%;
}
.messages {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 200px;
  max-height: 100%;
  width: 100%;
  border: 2px solid black;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.input {
  bottom: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;

  input {
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 10px 10px 10px;
    margin: 0 10px 10px 10px;
    width: 80%;
    font-size: 20px;
  }

  button {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px 10px 10px;
    font-size: 20px;
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
    &:disabled:hover {
      cursor: not-allowed;
      background-color: transparent;
    }

    &:hover {
      background-color: rgb(78, 109, 186);
    }
  }
}

.userMsg {
  text-align: left;
  border: 2px solid green;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.aiMsg {
  text-align: right;
  border: 2px solid red;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 20px;
}
